{% extends "base.html" %}

{% block content %}
<h3>Lists</h3>
<ul>
    {% for todolist in object_list %}
    <li>
        <div
            role="button"
            onclick="location.href='{% url "list" todolist.id %}'">
            {{ todolist.title }}
        </div>
    </li>
    {% empty %}
    <h4>There are no lists to display.</h4>
    {% endfor %}
</ul>
    <input
        value="Create a new list"
        type="button"
        onclick="location.href='{% url "new-list" %}'"/>
{% endblock %}