{% extends "base.html" %}

{% block content %}
<div>
    <div>
        <div>
            <h5>{{ todo_list.title }}</h5>
        </div>
        <ul>
            {% for task in object_list %}
            <li>
                <div>
                    <div
                        role="button"
                        onclick="location.href='#'">
                        {{ task.title }}
                        (Due {{ task.due_date }})
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no tasks in this list.</p>
            {% endfor %}
        </ul>
        <p>
            <input
                value="Add a new task"
                type="button"
                onclick="location.href='{% url "new-task" todo_list.id %}'"
            />
        </p>
    </div>
</div>
{% endblock %}